<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class = 'menu'>
      <nav class = "navbar navbar-dark" >
        <a class = "navbar-brand" href = {% url 'main'%}>
          <img src = "{%static 'logo.png'%}" width = "110" height = "68">
        </a>
        <div class = "fl">
          <a href="http:\\vk.com"><img src="{%static 'vk-social-logotype.svg'%}" width = "28" height = "28"></a>
          <a href="http:\\instagram.com"><img src="{%static 'instagram.svg'%}" width = "28" height = "28"></a>
          <a href="http:\\youtube.com"><img src="{%static 'youtube.svg'%}" width = "28" height = "28"></a>
          <button class = "navbar-toggler" type = "button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav">
              {%for item in furns%}
              <li class="nav-item">
                <a class="nav-link" href= {{item.getLink}} style = "color:white;"> {{item.name}}_{{forloop.counter}} </a>
              </li>
              {%endfor%}
            </ul>
        </div>
      </nav>
    </div>
    <div class = "fotos">
      <div class = "grid">
        {%for item in images%}
        {%if images|length|add:"-3" > forloop.counter%}
        <div> {{furn.name}} в стиле Лофт</div>
        <div>
          <h1> {{forloop.counter}} </h1>
          <img src = "/{{item.image}}">
        </div>
        {%endif%}
        {%endfor%}
      </div>
      <div class = "grid2">
        {%for item in images%}
        {%if images|length|add:"-3" <= forloop.counter%}
        <div>
          <h1> {{forloop.counter}} </h1>
          <img src = "/{{item.image}}">
        </div>
        {%endif%}
        {%endfor%}
      </div>

    </div>
  </body>

  <style>
    body {
      background: #262626;
    }

    .navbar-collapse {
      text-align: right;
    }

    .grid2 {
      background: white;
    }
  </style>
